/* Hero */
.team-hero {
  min-height: 625px;
  display: flex;
  align-items: flex-end;
  background: url("/img/team.jpg");
  background-size: cover;
}

.team-hero__heading {
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
  color: #fff;
}

/* Members grid */
.team-members {
  background: #fafafa;
  color: #020206;
}

.team-members__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}



.team-card__body {
  padding: 28px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.team-card__label {
  font-size: 16px;
  color: #2786EF;
  text-transform: uppercase;
  margin-bottom: 46px;
}

.team-card__img {
  width: 145px;
  height: 145px;
  margin-bottom: 20px;
}

.team-card {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border: 1px solid rgba(8, 11, 20, 0.13);
  border-radius: 20px;
}


.team-card__name {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 20px;
}

.team-card__role {
  font-size: 16px;
  font-weight: 200;
  color: #2786EF;
  margin-bottom: 30px;
}

.team-card__bio {
  font-size: 16px;
  font-weight: 200;
}

@media (min-width: 768px) {
  .team-members__grid {
    grid-template-columns: 1fr 1fr;
  }

  .team-card {
    flex-direction: column;
  }
}
